.App {
  background: #d9a7c7;
  background: linear-gradient(to bottom, #d9a7c7, #fffcdc);
  text-align: center;
  padding: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }
  .App .audio-manager {
    position: absolute; }
    .App .audio-manager .sounds {
      height: 24px;
      width: 24px;
      background-image: url("./img/sound_on.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center; }
      .App .audio-manager .sounds--disabled {
        background-image: url("./img/sound_off.png"); }
  .App .row-counter {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px; }
    .App .row-counter .row-decoration--simple {
      color: aqua;
      text-shadow: 0 0 3px cornflowerblue;
      animation: appearance 500ms normal forwards ease-in;
      animation-iteration-count: 1; }
    .App .row-counter .row-decoration--rampage {
      font-size: 20px;
      color: crimson;
      text-shadow: 0 0 3px gold;
      animation: big-appearance 500ms normal forwards ease-in;
      animation-iteration-count: 1; }
    .App .row-counter .row-decoration--spree {
      font-size: 24px;
      color: dodgerblue;
      text-shadow: 0 0 3px floralwhite;
      animation: large-appearance 500ms normal forwards ease-in;
      animation-iteration-count: 1; }
  .App .quiz {
    margin-top: 20px; }
    .App .quiz--p-t-n .staff-photo {
      height: 50vh;
      width: 50vh;
      display: inline-block;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-color: rgba(100, 30, 30, 0.2); }
    .App .quiz--p-t-n .staff-names {
      text-align: center; }
    .App .quiz--p-t-n .staff-name {
      margin: 10px 0;
      width: 50%;
      line-height: 50px;
      display: inline-block;
      border-radius: 8px;
      border: 2px solid lightslategrey; }
    .App .quiz--n-t-p .staff-name {
      font-size: 30px;
      margin-bottom: 30px; }
    .App .quiz--n-t-p .staff-pics {
      display: flex;
      align-items: center;
      justify-content: center; }
      .App .quiz--n-t-p .staff-pics .staff-pic {
        margin: 10px;
        height: 200px;
        width: 200px;
        cursor: pointer;
        border: 2px solid transparent;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba(100, 30, 30, 0.2); }
    .App .quiz .proceed {
      text-decoration: underline;
      color: cornflowerblue;
      cursor: pointer; }
  .App .correct {
    border-color: lightgreen !important; }
  .App .incorrect {
    border-color: orangered !important; }
  .App .focused {
    box-shadow: 0 0 1px 1px #579fcb; }

@keyframes appearance {
  0% {
    transform: scale(0.2); }
  70% {
    transform: scale(1.5); }
  100% {
    transform: scale(1); } }

@keyframes big-appearance {
  0% {
    transform: scale(0.2); }
  70% {
    transform: scale(2.5); }
  80% {
    transform: scale(1.5); }
  90% {
    transform: scale(2); }
  100% {
    transform: scale(1); } }

@keyframes large-appearance {
  0% {
    transform: scale(0.2); }
  70% {
    transform: scale(4.5) rotate(90deg); }
  80% {
    transform: scale(1.5) rotate(180deg); }
  90% {
    transform: scale(2) rotate(270deg); }
  100% {
    transform: scale(1) rotate(0); } }
